html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

.bg-white {
  background-color: #146fd0 !important;
}
.navbar-brand {
  background: rgb(11, 88, 208);
  display: block;
  padding: 13px 25px;
  margin: -15px 5px -15px -15px;
}

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            .mt-50  {
  margin-top: 50px;
}
.ubahlayer {
  text-align: center;
}
.ubahlayer li {
  cursor: pointer;
}