

    .map {
    height: 400px;
    width: 100%;
    position: relative;
    }
#pplayer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 12;
  background: #fff;
  display: none;
  box-shadow: 0px 4px 6px 4px rgba(0, 0, 0, 0.5);
}
.table td, .table th {
  padding: 1px 5px;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  font-size: 11px;
}
.klikfokus {
  cursor: pointer;
}

.basemap {
  margin: 0;
  padding: 0;
}
.basemap {
  position: absolute;
  top: 6px;
  background: rgb(255, 255, 255);
  left: 4px;
  width: 121px;
  padding: 9px;
  z-index: 100;
}
.basemap li {
  display: block; 
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}
.navbar {
  position: relative;
  padding: -0.5rem 1rem;
}
.navtools { 
  padding: 15px;
}
.navtools ul {
  display: ;
  margin: 0;
  padding: 0;
}
.navtools li {
  display: block;
}
 .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: 2px;
        right: 8px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
      
.ubahlayer ul {
  padding: 0;
  margin: 0;
}
.ubahlayer ul li {
  display: inline-block;
  border: 1px solid #ccc;
  padding: 5px;
  background: rgba(9, 7, 7, 0.53);
  color: #fff;
}
  .btnsimpan {
  position: absolute;
  z-index: 10;
  right: 36px;
  top: 13px;
}  
#modalpagedata td {
  font-size: 15px;
}
.box-shadow {
  box-shadow: 0px 4px 5px 0px rgba(51, 41, 41, 0.46);
}
    
    .navtools li {
  display: block;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}
.clr_l {
  position: relative;
  margin-left: 20px;
}    
.clr_l span {
  position: absolute;
  width: 20px;
  height: 20px; 
  top: 38px;
  left: -25px;
}

.Fiscal_parcels_clr{
  background: rgba(234, 221, 25, 0.77);
 }
  .Legal_parcels_clr
{
  background:rgba(13, 187, 227, 0.69);
}
.buildings_clr
{
  background: rgba(219, 26, 26, 0.63);
}
#nop {
  border: 1px solid #ccc;
  padding: 15px;
}
 
 .btn-blok {
  width: 100%;
}
.border_layer {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 5px 0px;
}
#pplayer2 {
  max-height: 250px;
  overflow-y: auto;
}
.side_bar {
  margin: 25px 0px 200px 25px;
}